html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-family: sans-serif;
  border-width: medium;
  border-style: solid;
  border-color: #595652;
  list-style-type: none;
  text-align: center;
  background-color: #79756f;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  margin: 0;
  padding: 0;
}

.top li {
  display: inline-block;
  margin: .3em;
  border-radius: .3rem;
  padding: .6em .5em .75em;
  font-family: sans-serif;
  background-color: #713837;
  list-style-type: disc;
}

.top a {
  display: inline-block;
  text-align: left;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
}

.top a:hover {
  background-color: #f33;
}
